a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 20px;
  margin-top: 31.5px;
}
.navbar li {
  margin-left: 50px;
  padding: 0px;
  margin-right: 20px;
  color: red;
}
.photo-header {
  height: 789px;
  width: 1280px;
  justify-content: center;
  align-items: center;
}
p.text-main {
  color: grey;
  padding: 10px;
}

h2.text-main {
  font-size: 35px;
}
.text-main {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  max-width: 1160px;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.display-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.button-main {
  padding: 15px 50px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 4px;
}

.credits-footer {
  text-align: right;
  color: black;
  margin-right: 50px;
  margin-bottom: 30px;
}
